:root {
  --color-white: hsl(0, 0%, 98%);
  --color-gray: hsl(0, 0%, 41%);
  --color-black: hsl(0, 0%, 8%);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 58.5%;
}

body {
  font-family: "Epilogue", sans-serif;
  background-color: var(--color-white);
  min-height: 100vh;
  color: var(--color-gray);
}

/*
$breakpoints

tab-port: 900px (900/16) => 56.25em
phone: 600px (600/16) => 37.5em

*/

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em) {
      @content;
    } //600px
  }

  @if $breakpoint == tab-port {
    @media only screen and (max-width: 56.25em) {
      @content;
    } //900px
  }
}
