.navigation {
  width: 100%;
  padding: 4rem 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  max-width: 160rem;
  margin: 0 auto;
  padding: 5rem 4rem;
  @include respond(phone) {
    padding: 5rem 0;
  }
}

.main {
  display: flex;
  justify-content: flex-start;
  font-size: 1.8rem;

  @include respond(tab-port) {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  &__left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

    @include respond(tab-port) {
      align-items: center;
      padding: 4rem;
    }

    & > * {
      margin-bottom: 5rem;
    }

    & > *:last-child {
      position: absolute;
      bottom: 0;
      width: 100%;

      @include respond(tab-port) {
        bottom: -0.5rem;
      }
    }
  }

  &__right {
  }
}
